.language-input-field {
    bottom: 42px
}

.submit-dialogue {
    top: 10px
}

.close-dialogue {
    top: 10px;
    left: 25px;

}

.dialog-input-field {
    padding: 5px;
}

.dialog-input-field input, .dialog-input-field textarea{
    color: #5f8a8b;
    padding: 10px
}
