<header class="main-header" #target>
    <div class="header-title"  routerLink="/home" >
        DVD Rental
    </div>
    <div>
        <button class="btn"  routerLink="/home" routerLinkActive="is-active">
            Home
        </button>   
        <button class="btn"  routerLink="/countries" routerLinkActive="is-active">
            Countries
        </button>   
        <button class="btn"  routerLink="/cities" routerLinkActive="is-active">
            Cities
        </button> 
        <button class="btn" routerLink="/categories" routerLinkActive="is-active">
            Categories
        </button>
        <button class="btn" routerLink="/rental" routerLinkActive="is-active">
            Rentals
        </button>
        <button class="btn" routerLink="/films" routerLinkActive="is-active">
            Films
        </button>
    </div>
</header>
