// ::host { 
//     background: url("../../assets/img/reels-in-the-air.jpg") no-repeat center center fixed; 
//     background: black;
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     -o-background-size: cover;
//     background-size: cover;
//   }
table {
    width: 100%;
  }

.drop-container{
  display: flex
}

.select-language-drop {
  margin-left: auto;
 }


 .btn1 {
   left: 1590px;
   margin-top: 7px
 }

 .btn2 {
  left: 1600px;
  margin-top: 7px
 }

 .trow:hover {
  background-color: #929292;
  transition: 0.3s;
  cursor: pointer
 }